.m_nav {
  margin-top: 0.26666667rem;
  width: 100%;
  background: #fff;
  padding-top: 0.66666667rem;
}
.m_nav li {
  width: 25%;
  height: 2.33333333rem;
  float: left;
  text-align: center;
}
.m_nav li img {
  width: 1.33333333rem;
  margin: 0 auto;
}
.m_nav li p {
  font-size: 0.32rem;
  line-height: 0.66666667rem;
}
.m_title {
  height: 0.93333333rem;
  background: linear-gradient(to bottom, #ffaf47, #ff9000);
  border-bottom: solid 0.01333333rem #ffc881;
  color: #fff;
  padding: 0 0.26666667rem;
  line-height: 0.93333333rem;
  position: relative;
  font-size: 0.4rem;
}
.m_title .icon_more {
  width: 1.13333333rem;
  height: 0.93333333rem;
  background: url(../images/more.png) center no-repeat;
  background-size: 0.53333333rem 0.53333333rem;
  position: absolute;
  top: 0;
  right: 0;
}
.m_sort {
  margin-top: 0.26666667rem;
  margin-bottom: 0.8rem;
}
